section {
	position: absolute;
	top: 80vh;
	left: 0;
	right: 0;
	width: 30em;
	margin: 0 auto;
}

.question {
	
	& label {
		text-align: center;
		display: block;
		display: none;
		
	}
	& .input-group {
		display: flex;
		justify-content: center;
		align-content: center;
		& input {
			text-align: center;
			margin: 0 auto;
			width: 80%;
			font-size: 1.5em;
			line-height: 1.5;
			border-radius: .1em 0 0 .1em;
			border: 1px solid rgba(80,109,133,0.6); /* 2167 C */
			background: rgba(158,166,180,0.3); /* 2162 C */
			padding: .25em;
		}
		& button {
			width: 20%;
			font-size: 1.5em;
			line-height: 1.5;
			margin-left: -1px;
			border-radius: 0 .1em .1em 0;
			padding: .25em 1em;
			cursor: pointer;
			border: 1px solid rgba(80,109,133,0.6); /* 2167 C */
			background: rgba(80,109,133,0.4); /* 2167 C */
		}
	}
}

.title {
	color: rgba(255,255,255,.7);
	background-color: transparent;
	position: absolute;
	top: 37vh;
	left: 0;
	right: 0;
	width: 40em;
	margin: 0 auto;
	z-index: 500;
	
	& p, h1 {
		color: inherit;
		text-align: center;
	}
	
	& h1 {
		margin-bottom: 0;
	}
}