// ! plains
// ----------
%plain {
	display: flex;
	align-items: center;
	justify-content: center;

	// transform-style: preserve-3d;
}

// ! orbits
// ----------
%orbit {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	//border: 1px solid rgba(209, 221, 230, 0.1); /* 642 C */
	border: 1px solid black; /* 642 C */
	border-radius: 50%;

	transform-style: preserve-3d;
}

// ! Bodies
// ----------
%body {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	transform-style: preserve-3d;
}
